[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
User=root
Group=root
ExecStart={{ exec_dir }}/{{ app }} agent -config-dir={{ cfg_cli_dir }}
ExecReload={{ exec_dir }}/{{ app }} reload
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target