{
    "datacenter":   "{{ datacenter }}",
    "data_dir":     "{{ data_dir }}",
    "log_level":    "{{ log_level }}",
    "node_name":    "{{ inventory_hostname }}",
    "server":       {{ server }},
    "encrypt":      "{{ encrypt_key }}",
    "domain":       "livelinux",
    "addresses": {
        "dns":      "127.0.0.1",
        "https":    "0.0.0.0",
        "grpc":     "127.0.0.1",
        "http":     "127.0.0.1"
    },
    "bind_addr":    "{{ ansible_default_ipv4.address }}",
    "start_join":   ["192.168.1.61"],
    "ports": {
        "dns":      53
    }
}