{
    "bootstrap":        true,
    "server":           {{ server }},
    "datacenter":       "{{ datacenter }}",
    "node_name":        "{{ inventory_hostname }}",
    "data_dir":         "{{ data_dir }}",
    "encrypt":          "{{ encrypt_key }}",
    "log_level":        "{{ log_level }}",
    "enable_syslog":    {{ syslog }},
    "start_join":       ["{{ ansible_default_ipv4.address }}"],
    "bind_addr":        "{{ ansible_default_ipv4.address }}",
    "addresses": {
    "http":
        "0.0.0.0"
    },
    "ports": {
        "http":     8500
    }
}